# Node modules
node_modules/

# Archivos de entorno
.env
.env.local

# Archivos de salida de Babel
lib/
dist/
build/

# Cachés
.cache/
tmp/
.tmp/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Cobertura de tests
coverage/

# IDEs y editores
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db
